
[class*="col-"] {
    display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-es {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-s {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-el-1 {
        width: 8.33%;
    }

    .col-el-2 {
        width: 16.66%;
    }

    .col-el-3 {
        width: 25%;
    }

    .col-el-4 {
        width: 33.33%;
    }

    .col-el-5 {
        width: 41.66%;
    }

    .col-el-6 {
        width: 50%;
    }

    .col-el-7 {
        width: 58.33%;
    }

    .col-el-8 {
        width: 66.66%;
    }

    .col-el-9 {
        width: 75%;
    }

    .col-el-10 {
        width: 83.33%;
    }

    .col-el-11 {
        width: 91.66%;
    }

    .col-el-12 {
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Vazir, sans-serif;
    direction: rtl;
    box-sizing: border-box;
    transition: 300ms ease-in-out;
    /*font-size: 12px;*/
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

.main {
    flex-direction: column;
}

header {
    justify-content: space-between;
    padding: 10px;
    background-color: #232323;
    align-items: center;
    /*color: white;*/
}

.header-logo {
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*line-height: 20px;*/
    /*font-size: 3rem;*/
}

.header-logo img {
    width: 10vw;
}

.header-logo p {
    padding: 10px;
    font-size: 1.3vw;
    /*font-size: 12px;*/
}

.login-tablet-view {
    color: white;
    display: flex;
    gap: 5px;
}

.header-navbar {
    flex-direction: column;
}

.navbar-up-menu {
    height: 40%;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;

    /*font-size: 5px;*/
}

.navbar-up-menu > div {
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    gap: 5px;
}

.navbar-down-menu {
    align-items: center;
    height: 60%;
    justify-content: space-between;
}

.down-menu-links {
    display: flex;
    flex-direction: row;
    gap: 3vw;

}

.down-menu-links a {
    font-size: 1.2vw;
}

.down-menu-search {
    justify-content: center;
}

.down-menu-search input {
    border: lightgray 1px solid;
    width: 20vw;
    padding: 0 10px;
}

.down-menu-search button {
    color: white;
    background-color: #232323;
    padding: 0 2vw;
}

::placeholder {
    color: lightgray;
    padding: 0 5px;
}

.down-menu-search > * {
    height: 4vw;
}


.middle {
    flex-direction: column;
}

.banner {
    position: relative;
}

.slide-changer {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    padding: 0 10px;
    margin: 0 20px;
    top: 46%;
}

.banner-caption {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-weight: bold;
    color: white;
    gap: 1vh;
}

.caption-title {
    font-size: 1.5vw;
}

.caption-description {
    font-size: 2.5vw;
}

.caption-btn {
    font-size: 1.5vw;
    margin-top: 40px;
    width: 25vw;
    line-height: 5vw;
    font-weight: bold;
    border-radius: 5px;
    opacity: 0.7;
}

.categories {
    overflow: auto;
    white-space: nowrap;
}

.category {
    line-height: 100%;
    padding: 20px 3vw;
    background-color: #232323;
    color: white;
    /*text-align: center;*/
    font-size: 16px;
}


.special-offers-container, .most-sales-container {
    flex-direction: column;
    padding: 3vh 20px;
    /*border: blue solid 2px;*/
}

.special-offers-container h3, .most-sales-container h3 {
    /*border: greenyellow 2px solid;*/
    padding: 2vh 0 3vh;
}

.offers-tiles, .most-sales-tiles {
    overflow: auto;
    white-space: nowrap;
    /*border: lightblue solid 2px;*/
    gap: 45px;
}

.offer, .ms, .product {
    /*border: red solid 2px;*/
    flex-direction: column;

}

.ms {
    position: relative;
}

.offer-image, .ms-image {
    position: relative;
}

.ms-image {
    z-index: 1000;
}

.ofr-img {
    width: 35vw;
}

.ms-img {
    width: 30vw;
}

.shopping-icon {
    width: 30px;
    padding: 5px;
    position: absolute;
    /*border: 3px purple solid;*/
    right: 0;
    bottom: 9px;
    background-color: #232323;
}

.offer-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.offer-description p {
    font-size: 11px;
}

.ms-description p {
    font-size: 11px;
}

.middle-banner {
    position: relative;
}

.middle-banner img {
    width: 100%;
}

.middle-one {
    left: 65%;
    top: 30%;
}

.ms-price-and-add {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ms-name {
    /*padding-bottom: 40px;*/
    position: absolute;
    bottom: 26px;
}

.ms:hover .ms-name {
    display: flex;
}

.ms:hover .ms-img {
    padding-bottom: 30px;
}

/*.ms {*/
/*    height: 280px;*/
/*}*/




.ms-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-size: 2vw;
}






.last-panel-container {
    margin-top: 20px;
    flex-direction: column;

    /*border: black solid 3px;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.last-panel-banner {
    /*border: purple dashed 3px;*/
    position: relative;
}

.lpb-cap {
    top: 40%;
    left: 17%;
}

.lpb-cap p {
    font-size: 2.5vw;
}

.best-products-container {
    /*border: greenyellow 3px solid;*/
    flex-direction: column;
    /*gap: 15px;*/
    padding: 20px;
    /*align-items: center;*/
}

.best-products {
    /*border: purple dashed 2px;*/
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    gap: 45px;
    /*gap: 15px;*/
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}





.haraj {
    background-color: pink;
    /*border: 3px red solid;*/
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.haraj-btn {
    width: 80%;
    padding: 10px 0;
    border-radius: 5px;
}

.brands {
    justify-content: space-evenly;
    background-color: #eaeaea;
    padding: 20px 0;
    /*border: greenyellow 2px solid;*/
}

.brands img {
    display: inline-block;
    /*border: blue solid 1px;*/
    border-left: black solid 1px;
    padding-left: 40px;
}

.chert {
    padding: 2vh 0 3vh;
}

.offer-price {
    text-decoration-line: line-through;
}

.edited-offer-price {
    /*text-decoration-line: line-through;*/
    font-weight: bold;
}

.pro-img {
    width: 28vw;
}



footer {
    flex-direction: column;
    color: white;
    background-color: #232323;
    font-size: 13px;
    margin-top: 10px;
    padding: 30px 20px;
    line-height: 30px;
    gap: 20px
}
.footer-description,
.services-container,
.footer-links,
.mail-and-social-media {
    flex-direction: column;
    gap: 10px;
}

.mail-and-social-media {
    gap: 20px;
}

.up {
    gap: 60px;
    flex-direction: column;
}


.services, .links {
    list-style-type: none;
}

.sm-logos {
    justify-content: space-evenly;
}


/*.footer-mail-input {*/
/*    height: 20px;*/
/*}*/

.footer-mail-input input {
    border: lightgray 1px solid;
    width: 15vw;
    padding: 0 10px;
    height: 40px;
}

.footer-mail-input button {
    color: #232323;
    background-color: white;
    padding: 9px 10px;

}

.xxx {
    display: flex;
}

.product-description p {
    font-size: 11px;
}


















/*-----------------------------------*/
/*-----------------------------------*/










/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .caption-description {
        color: green;
    }

    .ms:hover .ms-img {
        width: 25vw;
    }

    .login-tablet-view {
        display: none;
    }

    .xxx {
        flex-direction: column;
        gap: 60px;
    }

    .pro-img {
        width: 28vw;
    }

    /*.product-description p {*/
    /*    font-size: 11px;*/
    /*}*/

    .none-es {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .caption-description {
        color: red;
    }

    .offer-description p {
        font-size: 2vw;
        display: inline-block;
        /*padding-top: 10px;*/
    }

    .ofr-img {
        width: 200px;
    }

    .pro-img {
        width: 22vw;
    }



    .offer-description p, .ms-description p {
        font-size: 12px;
    }

    .ms:hover .ms-img {
        width: 170px;
    }

    .none-s {
        display: none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .caption-description {
        color: blue;
    }

    .main {
        padding: 0 50px;
        gap: 3vh;
    }

    header {
        background-color: white;
        padding: 0;
        align-items: normal;
        gap: 15px;

    }

    .header-logo {
        padding: 3vh 0;
        background-color: #232323;
        gap: 2vh;
    }

    .header-logo img {
        width: 50px;
    }

    .middle {
        flex-direction: row;
        gap: 15px;
    }

    .categories {
        order: -1;
        overflow: hidden;
        flex-direction: column;
    }

    .category {
        font-size: 1.1vw;
        border: 0;
        padding: 2vw;
    }

    .special-offers-container, .most-sales-container {
        padding: 0;
    }


    .ofr-img {
        width: 20.9vw;
    }

    .ms-img {
        width: 200px;
    }

    .ms-description p, .offer-description p {
        font-size: 12px;
    }

    .ms:hover .ms-img {
        width: 180px;
    }

    .ms-name {
        bottom: 30px;
    }

    .shopping-icon {
        width: 2.5vw;
    }

    .product-description p {
        font-size: 0.8vw;
    }



    .last-panel-container {
        flex-direction: row;
        gap: 15px;

    }


    .best-products-container {
        height: 40vw;
        align-items: center;
        padding: 5px 15px;
        gap: 30px;
        background-color: #eaeaea;
    }

    .best-products {
        overflow: auto;
        white-space: nowrap;
        flex-direction: column;
        gap: 0;
        /*align-items: center;*/
    }

    .last-panel {
        flex-direction: column;
        justify-content: space-between;
        /*gap: 95px;*/
        /*height: 300px;*/
        /*justify-content: space-between;*/
    }

    .brands {
        /*display: flex;*/
        justify-content: space-evenly;
    }

    .chert {
        font-size: 1vw;
        border-bottom: grey dashed 2px;
        padding: 1vh 0 4vh;
        justify-content: center;
    }


    .product {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .product-image img {
        width: 8vw;
    }


    .product-description {
        order: -1;
    }

    .product-in-desktop p {
        float: none;
        flex-direction: column;
    }

    footer {
        /*flex-direction: row;*/
        justify-content: space-between;
        flex-wrap: wrap;
        /*padding: 0;*/
        margin-top: 20px;
        /*padding-top: 50px;*/
        gap: 50px;
    }

    .up {
        flex-direction: row;
    }

    .footer-mail-input {
        margin: 0;
        padding: 0;
    }








    .none-m {
        display: none;
    }

    .display-m {
        display: flex;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .caption-description {
        color: yellowgreen;
    }

    .offer-description p {
        font-size: 12px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .caption-description {
        color: purple;
    }
    .ms-name {
        bottom: 40px;
    }
}
